body {
    font-family: 'Molengo';
}

table.center {
    margin-left: 10%;
}

.wf-loading {
    visibility: hidden;
}

div.username {
    font-family: 'Syncopate';
    font-size: 46px;
}

div.message {
    font-size: 13px;
}

div.message > p.first {
    border: none;
    padding-left: 0px;
}

div.message > p {
    display: inline;
    border-left: 1px solid black;
    padding: 0px 7px 0px 10px;
    margin: 0px;
}

div.status {
    padding: 5px;
    font-size: 18px;
}

div.error {
    padding: 5px;
    font-size: 18px;
    color: #EEE;
}

div.meta {
    font-size: 13px;
    float: right;
    visibility: hidden;
}

tr.tweet:hover .meta {
    visibility: visible;
}

img {
    border: none;
}

img.logo {
    float: right;
}

span.atusr {
   color: #CCCCCC;
}

a {
   text-decoration: none;
   color: #2020B0;
}

a:hover {
   text-decoration: none;
   color: #2060B0;
}


