table.center {
    margin-left: 10%;
}

div.username {
    font-family: 'Gruppo';
    font-size: 50px;
}

div.message {
    font-family: 'Gruppo';
    font-size: 18px;
}

div.tweet {
    padding: 3px;
    font-family: 'Molengo';
    font-size: 16px;
}

div.mt {
    font-family: 'Gruppo';
    font-size: 17px;
}

span.atusr {
   color: #CCCCCC;
}

a {
   text-decoration: none;
   color: #006699;
}

a.h {
   text-decoration: none;
   color: #002070;
}

