{% extends "base.html" %}

{% block title %} - search your own twitter {% endblock %}

{% block heading %} Twearchy {% endblock %}

{% block detail %}

Where's that needle? Get a little searchy.

{% endblock %}

{% block content %}

<tr><td><br/></td></tr>
<tr><td/><td><a href="/login"><img src="img/twitter.png"/></a></td></tr>
<tr><td><br/></td></tr>
<tr><td/><td><div class="status">
      Twearchy is simple. It displays <strong>all</strong> your tweets on a
      single page.
</div></td></tr>
<tr><td/><td><div class="status">
      You can then search through them using the browser or just scroll around 
      to revive old memories.
</div></td></tr>

{% endblock %}
