{% extends "base.html" %}

{% block title %} yaa-utzah {% endblock %}

{% block body %}

<table class=center>
  <tr>
    <td width=100px><img class=logo src="img/twearchy.png" /></td>
    <td valign=bottom>
      <div class=username>Yaa-utzah!</div>
      <div class=message>Twearchish for "Something's horribly wrong."</div>
    </td>
  </tr>
  <tr><td><br/></td></tr>
  <tr><td/><td><div class="status">{{message}}</div></td></tr>
  <tr><td/><td><div class="error">{{traceback}}</div></td></tr>
</table>

{% endblock %}
